$JosefinLight : 'Josefin Light';
$JosefinBold : 'Josefin Bold';
$JosefinRegular : 'Josefin Regular';

$ralewayLight : 'ralewayLight';
$ralewayBold : 'ralewayBold';

$ralewayRegular : 'ralewayRegular';
//Colors : 

$limePrimary : #3fc851;
$limeSecondary : #AAE3B1;
$white : 'white';
$black : 'black';
$yellowGreen :#FFDA84;

    .container{
        display : grid;
        margin-bottom : 2rem;
    }

    .title_container{
        background: rgb(63,200,81);
        background: linear-gradient(180deg, rgba(63,200,81,1) 60%, rgba(252,254,252,1) 95%);
        padding-block-start : 10rem;
        padding-inline: 10%;
        padding-block-end : 6%;
        display : flex;
        justify-content: space-between;
        align-items: baseline;
        h3{
            font-size: 3rem;
            font-family: $JosefinRegular;
            color : white
        }

     
    }    

    .cards_container{
        display : grid;
        padding-inline : 12%;
        margin-block-end : 10vh;
        grid-template-columns: repeat(3,1fr);
        gap : 4rem;
        .restaucard{    
            padding-block-start : 2rem;
            background : transparent;
            text-align: center;
            grid-template-rows: 30% auto;
            border-bottom-right-radius: 1rem;
            border-bottom-left-radius: 1rem;
            transition : transform 300ms;
            .restaulogo{
                position : relative;
                top : -27%;
                left : 10%;
                margin-bottom: -31%;
                width: 25%;
                border-radius: 50%;
                border-top : 3px solid $limePrimary
            }
            .bannertext{
                overflow: hidden;
                box-shadow: rgba(0, 0, 0, 0.5) 12px 25px 50px -12px;
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;              
                display : grid;
                img{
                  
                    border-top-right-radius: 1rem;
                width: 100%;
                }
             
                h4{
                    font-family: $ralewayBold;
                 

                    background-color:$yellowGreen;
                    padding-block-start : 10%;
                    padding-block-end : 10%;
                    align-self: center;
                    font-size: clamp(1.2rem, 0.9483rem + 0.7356vw, 1.4rem);               
                    
                }
                
            }
           
        }
        
        .restaucard:hover{
            transform : scale(1.05);
            cursor: pointer;
        }
        
    }
    .loadmore{
        width: fit-content;


        background-color: $yellowGreen;
        color : black;
        font-family: $ralewayBold;
        border : none;
        border-radius: 1rem;
        padding-block : 1rem;

        padding-inline: 2rem;
        transition : all 200ms ease-in;
        box-shadow: rgba(0, 0, 0, 0.5) 12px 25px 50px -12px;
        justify-self: center;
    }

    .loadmore:hover{
        background-color : $limePrimary;
        color : white;
    }
    .menu{
        position: fixed;
        top : 12vh;
        border-radius: 1rem;
        margin-inline : 20%;
        margin-block : 2rem;
            background-color: hsla(42, 100%, 76%, 1);
        .closebutton{
            position: absolute;
            z-index : 11111;
            top : -20px;
            border-radius: 50%;
            border : 3px solid $limePrimary;
            padding-top : 5px;
            padding-inline: 5px;
            right : 10%;   
            background-color: white;
            cursor: pointer;   
            transition : background-color 300ms ease;
        }
        .closebutton:hover{
            background-color :$limePrimary;
        }
    }
    
@media(max-width : 1024px){
    .title_container{
        padding-block-end : 10%;

    }

    .cards_container{
        grid-template-columns: 1fr 1fr;
        padding-inline: 5%;
        padding-inline: 10%;
        margin-block-end : 10vh;

    }

    .menu{
        margin-inline : 10%;

    }
}



@media(max-width : 765px){
  
    
    .title_container{
    
        padding-block-start : 12rem;
        padding-inline: 10%;
        padding-block-end : 20%;
        h3{
            font-size: 2rem;
            font-family: $JosefinRegular;
            color : white
        }
    }    
    .cards_container{
        gap :2rem;

        grid-template-columns: 1fr ;
        padding-inline: 15%;
        .restaucard{
            margin-bottom: 0;
        }
    }
    .menu{
        top : 25vh;
        margin-inline : 5%;
    }
}