$JosefinLight : 'Josefin Light';
$JosefinBold : 'Josefin Bold';
$JosefinRegular : 'Josefin Regular';
$dancingBold : 'Dancing Bold';
$dancingRegular : 'Dancing Regular';

//Colors : 

$limePrimary : #3fc851;
$limeSecondary : #AAE3B1;
$white : 'white';
$black : 'black';
$yellowGreen :#FFDA84;