

//Josefin 
@font-face {
    font-family: 'Josefin Bold';
    src: url('./assets/fonts/Josefin/JosefinSans-Bold.woff2') format('woff2'),
        url('./assets/fonts/Josefin/JosefinSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Regular';
    src: url('./assets/fonts/Josefin/JosefinSans-Regular.woff2') format('woff2'),
        url('./assets/fonts/Josefin/JosefinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin SemiBold';
    src: url('./assets/fonts/Josefin/JosefinSans-SemiBold.woff2') format('woff2'),
        url('./assets/fonts/Josefin/JosefinSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Light';
    src: url('./assets/fonts/Josefin/JosefinSans-Light.woff2') format('woff2'),
        url('./assets/fonts/Josefin/JosefinSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


//Raleway
@font-face {
    font-family: 'ralewayBold';
    src: url('./assets/fonts/Raleway/Raleway-Bold.woff2') format('woff2'),
        url('./assets/fonts/Raleway/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ralewayLight';
    src: url('./assets/fonts/Raleway/Raleway-Light.woff2') format('woff2'),
        url('./assets/fonts/Raleway/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ralewayRegular';
    src: url('./assets/fonts/Raleway/Raleway-Regular.woff2') format('woff2'),
        url('./assets/fonts/Raleway/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


//Lato 
@font-face {
    font-family: 'Lato Bold';
    src: url('./assets/fonts/Lato/Lato-Bold.woff2') format('woff2'),
        url('./assets/fonts/Lato/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lato Regular';
    src: url('./assets/fonts/Lato/Lato-Regular.woff2') format('woff2'),
        url('./assets/fonts/Lato/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Black';
    src: url('./assets/fonts/Lato/Lato-Black.woff2') format('woff2'),
        url('./assets/fonts/Lato/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Lato Light';
    src: url('./assets/fonts/Lato/Lato-Light.woff2') format('woff2'),
        url('./assets/fonts/Lato/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

