

//Josefin 
@font-face {
    font-family: 'Josefin Bold';
    src: url('./assets/fonts/Josefin/JosefinSans-Bold.woff2') format('woff2'),
        url('./assets/fonts/Josefin/JosefinSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Regular';
    src: url('./assets/fonts/Josefin/JosefinSans-Regular.woff2') format('woff2'),
        url('./assets/fonts/Josefin/JosefinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin SemiBold';
    src: url('./assets/fonts/Josefin/JosefinSans-SemiBold.woff2') format('woff2'),
        url('./assets/fonts/Josefin/JosefinSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Light';
    src: url('./assets/fonts/Josefin/JosefinSans-Light.woff2') format('woff2'),
        url('./assets/fonts/Josefin/JosefinSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

//DancingScript
@font-face {
    font-family: 'Dancing Bold';
    src: url('./assets/fonts/DancingScript/DancingScript-Bold.woff2') format('woff2'),
        url('./assets/fonts/DancingScript/DancingScript-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dancing Medium';
    src: url('./assets/fonts/DancingScript/DancingScript-Medium.woff2') format('woff2'),
        url('./assets/fonts/DancingScript/DancingScript-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dancing SemiBold';
    src: url('./assets/fonts/DancingScript/DancingScript-SemiBold.woff2') format('woff2'),
        url('./assets/fonts/DancingScript/DancingScript-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dancing Regular';
    src: url('./assets/fonts/DancingScript/DancingScript-Regular.woff2') format('woff2'),
        url('./assets/fonts/DancingScript/DancingScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



